body {
    background: linear-gradient(to bottom, #b8c0d1,  #270d36);
    font-family: 'Coronetscript', cursive;;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: yellowgreen;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a, .post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.btn-update {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #27ae60;
    color: #fffc;
    cursor: pointer;
    font-size: 18px;
}

.btn-delete {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #c0392b;
    color: #fffc;
    cursor: pointer;
    font-size: 18px;
}


.nav-right > a:nth-child(1) > button {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    color: white;
    background-color: turquoise;
    border: none;
    font-size: 17px;
}

.nav-right > a:nth-child(2) > button{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 17px;
    color: white;
    background-color: yellowgreen;
    border: none;
}